<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347195380659-p2o87p3lpe07jbv846pn0k2h5rmcq2r1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347195380659-p2o87p3lpe07jbv846pn0k2h5rmcq2r1</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ8IuVUOyqorGQ3OMA0iuVH2zrOXB9f8k</string>
	<key>GCM_SENDER_ID</key>
	<string>347195380659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flix.gbipasarbaru</string>
	<key>PROJECT_ID</key>
	<string>gbipasarbaru-21f9c</string>
	<key>STORAGE_BUCKET</key>
	<string>gbipasarbaru-21f9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347195380659:ios:7469d9c682a9d95a2a31c6</string>
	<key>DATABASE_URL</key>
	<string>https://gbipasarbaru-21f9c-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>